matplotlib== 3.7.1
numpy==  1.23.5
pysteps== 1.7.2
netCDF4== 1.6.3
pandas== 2.0.2
geopandas== 0.13.2
cartopy==0.22.0
scipy== 1.10.1

matplotlib==3.7.1 numpy==1.23.5 pysteps==1.7.2 netCDF4==1.6.3 pandas==2.0.2 geopandas==0.13.2 cartopy==0.22.0 scipy==1.10.1